@import '../../../assets/styles/variables';
.info-section {
    height: 400px;
    &.blue {
        background-color: $lightBlue;
    }
    &.white {
        background-color: white;
    }
    &-content {
        width: 100%;
        max-width: $contentWidth;
        margin: auto;
    }
}