<div class="info-section d-flex align-items-center justify-content-start" [ngClass]="backgroundColor">
    <div class="info-section-content py-sm-1">
        <h1>Du haftest? Wir zahlen.</h1>
        <p>Laptop Deines Kollegen runtergeschmissen? </p>
        <p>Büroschlüssel verloren? Ein kleines Missgeschick kann schnell teuer werden. </p>
        <p> Wir helfen Dir dabei, dass aus einem kleinen Versehen keine große Sache wird.  </p>
        <p> Wir helfen Dir dabei, dass aus einem kleinen Versehen keine große Sache wird.  </p>
    </div>
    
</div>

