.calculate-price-button {
    background: #45B491 0% 0% no-repeat padding-box;
    border-radius: 10px;
    outline: none;
    padding: 13px 18px;
    border: none;
    color: white;
    &.sticky {
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        bottom: 50px;
        padding: 15px 20px;
    }
}